<button
  mat-icon-button
  (click)="closeModal()"
  class="!absolute top-4 right-4 z-20 text-gray-500 hover:text-gray-900">
  <mat-icon>close</mat-icon>
</button>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-3xl mx-auto p-4 md:p-6">
  <div class="w-full">
    <img [src]="book.imagePath" [alt]="book.title" class="w-full h-auto object-cover rounded-lg shadow-lg">
  </div>

  <div class="flex flex-col">

    <h2 class="text-2xl font-serif font-bold text-gray-900 mb-2">
      {{ book.title }}
    </h2>

    <p class="text-gray-600 mb-4 text-base">
      Author:{{ book.author }}, <br>
      Book-Description: {{book.description}}
    </p>

    <div class="flex items-center gap-3 mb-6 pb-6 border-b border-gray-200">
      <span class="text-red-600 font-bold text-2xl">
      Price:  LE {{ book.price | number:'1.2-2' }}
      </span>
    </div>

    <div class="grid grid-cols-2 gap-x-6 gap-y-3 text-sm text-gray-700 mb-6">
      <div class="font-semibold">Vendor:</div>
      <div class="text-gray-500">{{ book.author }}</div>

      <div class="font-semibold">Type:</div>
      <div class="text-gray-500">{{book.category}}</div>

      <div class="font-semibold">Rating:</div>
      <div class="text-gray-500">{{book.averageRating}}</div>
    </div>

    <div class="text-sm space-y-3 mb-8">
      <p><strong>Availability: </strong> <span class="text-green-600">{{book.stock}}</span></p>
      <p><strong>Sub total:</strong> <span class="text-gray-900 font-bold text-base">
        LE {{ book.price * quantity | number:'1.2-2' }}</span></p>
    </div>

    <div class="mb-6">
      <label class="font-semibold text-sm text-gray-700 mb-2 block">Quantity</label>
      <div class="flex items-center border rounded-md max-w-fit">
        <button (click)="decrementQuantity()" mat-icon-button class="!w-12 !h-12 text-gray-500">
          <mat-icon>remove</mat-icon>
        </button>
        <span class="px-5 text-lg font-bold">{{ quantity }}</span>
        <button (click)="incrementQuantity()" mat-icon-button class="!w-12 !h-12 text-gray-500">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-3 mb-3">
      <button (click)="onAddToCart()" mat-raised-button color="warn" class="!py-6 !text-base">
        Add To Cart
      </button>
    <button mat-raised-button color="primary" class="!py-6 !text-base">
      Buy It Now
    </button>
    <!-- </div>
          <button mat-flat-button class="!py-6 !text-base !bg-gray-200 !text-gray-800">
        Add To Wishlist
      </button>
  </div> -->
</div>
