<section class="container mx-auto px-4 py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-10">

    <div class="flex items-start gap-5">
      <div>
        <mat-icon class="text-gray-500 scale-150 transform-gpu w-12 text-center mt-2">local_shipping</mat-icon>
      </div>
      <div>
        <h4 class="font-semibold text-gray-900">FREE SHIPPING</h4>
        <p class="text-gray-500 text-sm">Order over $100</p>
      </div>
    </div>

    <div class="flex items-start gap-5">
      <div>
        <mat-icon class="text-gray-500 scale-150 transform-gpu w-12 text-center mt-2">lock_outline</mat-icon>
      </div>
      <div>
        <h4 class="font-semibold text-gray-900">SECURE PAYMENT</h4>
        <p class="text-gray-500 text-sm">100% Secure Payment</p>
      </div>
    </div>

    <div class="flex items-start gap-5">
      <div>
        <mat-icon class="text-gray-500 scale-150 transform-gpu w-12 text-center mt-2">sell_outline</mat-icon>
      </div>
      <div>
        <h4 class="font-semibold text-gray-900">BEST PRICE</h4>
        <p class="text-gray-500 text-sm">Guaranteed Price</p>
      </div>
    </div>

    <div class="flex items-start gap-5">
      <div>
        <mat-icon class="text-gray-500 scale-150 transform-gpu w-12 text-center mt-2">autorenew</mat-icon>
      </div>
      <div>
        <h4 class="font-semibold text-gray-900">FREE RETURNS</h4>
        <p class="text-gray-500 text-sm">Within 30 Days returns</p>
      </div>
    </div>

  </div>
</section>
