/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Snackbar styles */
.success-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
  font-weight: 500 !important;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: rgb(34 197 94) !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.success-snackbar .mat-mdc-button {
  color: rgb(34 197 94) !important;
  background-color: white !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
  font-weight: 500 !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: rgb(239 68 68) !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.error-snackbar .mat-mdc-button {
  color: rgb(239 68 68) !important;
  background-color: white !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
}

.info-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
  font-weight: 500 !important;
}

.info-snackbar .mdc-snackbar__surface {
  background-color: rgb(59 130 246) !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.info-snackbar .mat-mdc-button {
  color: rgb(59 130 246) !important;
  background-color: white !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
